@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.page-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-dark{
  background: #000;
  color: #fff;
}

.sub-link {
  display: flex;
  justify-content: center;
  color: #2B6EF4;
  font-size: 12px;
  margin-top: 15px;
  text-decoration: underline;
}

.sub-text{
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Navbar */

.header{
  padding: 0.3% 12% 0 12%;
  color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.logo {
  height: auto;
  width: 60px;
}

.login-btn{
  border: none;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}


/* page */

.page-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #F1F1F1;
  }

  .page-content{
    margin: 100px auto;
    width: 600px;
    background: #fff;
    color: #333;
    position: relative;
  }
  
  .reset-form{
    padding: 50px;
  }
  
  .reset-email-container input{
    width: 100%;
    border: none ;
    background: #F8F9FB;
    height: 50px;
    padding: 5px;
  }

  .reset-form h3{
    font-weight: bold;
  }
  
  .reset-email-container label{
    display: block;
    text-transform: uppercase;
    color: #6B7790;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 13px;
    margin-bottom: 5px;
}

div .sub-text{
  padding: 16px 0 32px 0;
  color: #292C33;
  font-size: 14px;
  line-height: 21px;
}

  .reset-form .btn{
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  }

@media (max-width: 768px) {

  .page-content {
    width: 350px;
}

button .btn{
  font-size: 13px;
}
}
